<html>
<head>
  <title>FirmCheck</title>
  <link rel="stylesheet" media="screen" href="/css/uikit.gradient.css">
  <link rel="stylesheet" media="screen" href="/css/main.css">
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/angular.js" type="text/javascript"></script>
  <script src="/js/angular-resource.js" type="text/javascript"></script>
  <script src="/js/uikit.js" type="text/javascript"></script>
  <script src="/js/firmcheck.js" type="text/javascript"></script>
</head>
<body>
  <div ng-app="firmcheck" ng-controller="dashboard">

    <div class="uk-align-right">
      <p><strong>Show SQL <input type="checkbox" ng-model="queries.shown"></strong></p>
    </div>

    <h1>FirmCheck</h1>
    
    <div ng-cloak ng-show="queries.shown">
      <pre ng-bind="queries.query"></pre>
      <pre ng-bind="queries.countQuery"></pre>
    </div>

    <div id="delete-rating-modal" class="uk-modal">
      <div class="uk-modal-dialog">
        <div class="uk-modal-header">
          <h2>Delete Rating?</h2>
        </div>
        <p>The rating <strong>{{deleteRatingModal.ratingRecord.name}}:{{deleteRatingModal.ratingRecord.rating}}</strong>
          will be deleted from firm <strong>{{deleteRatingModal.firmRecord.name}}</strong>.</p>
        <div class="uk-modal-footer uk-text-right">
          <button type="button" class="uk-button" ng-click="hideDeleteRatingModal()">Cancel</button>
          <button type="button" class="uk-button uk-button-primary" ng-click="forceDeleteRating()">Delete Rating</button>
        </div>
      </div>
    </div>
        
    <form class="uk-form uk-form-horizontal" ng-submit="setFilters()">
      <div class="uk-form-row">
        <label class="uk-form-label" for="">Zip Code Filter</label>
        <div class="uk-form-controls">
          <ul class="uk-subnav uk-subnav-pill">
            <li ng-repeat="area in areas" ng-class="{'uk-active':areaActive(area.area)}"><a ng-bind="area.area" ng-click="setFilter('area', area.area)"></a></li>
          </ul>
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="companyNameFilter">Company Name Filter</label>
        <div class="uk-form-controls">
          <input type="text" name="companyNameFilter" ng-model="filterInputs.companyName" class="uk-form-width-large">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="ratingNameFilter">Rating Name Filter</label>
        <div class="uk-form-controls">
          <input type="text" name="ratingNameFilter" ng-model="filterInputs.ratingName" class="uk-form-width-large">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="ratingValueFilter">Rating Value Filter</label>
        <div class="uk-form-controls">
          <input type="text" name="ratingValueFilter" ng-model="filterInputs.ratingValue" class="uk-form-width-large" placeholder="e.g. >3 or <3 or 1,3,4">
        </div>
      </div>
      <div class="uk-form-row">
        <button type="submit" class="uk-button uk-button-primary">Apply Filter</button>
        <button type="button" class="uk-button" ng-click="clearFilter()">Clear Filter</button>
      </div>
    </form>
    
    <div>
      <h2>Records:
        <span ng-show="!records.length">0</span>
        <span ng-show="records.length">
          <span ng-bind="records.length"></span> of
          <span ng-bind="statistics.totalCount"></span>
          (<span ng-bind="statistics.firstRecord + 1"></span> &rarr;
          <span ng-bind="statistics.lastRecord + 1"></span>)
        </span>
      </h2>
    </div>
    
    <div ng-include="'/pagination.html'" class="fc-pagination-left"></div>
    
    <div ng-show="records == null">
      <p><img src="/img/load.gif" alt="load animation"></p>
    </div>
    
    <table class="uk-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Homepage(s)</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in records" ng-click="clickRecord(record)" ng-class="{'uk-active': recordClicked(record)}">
          <td><span ng-bind="record.index + 1" class="uk-article-meta"></span></td>
          <td><span ng-bind="record.name" ng-class="{'fc-unrated':(!record.ratings.length)}"></span></td>
          <td><span ng-repeat="homepage in record.homepages" ng-class="{'fc-unrated':(!record.ratings.length)}"><a ng-href="{{homepage}}" ng-bind="homepage" target="_blank"></a>{{$last ? '' : ', '}}</span></td>
          <td>
            <form class="uk-form" ng-submit="submitRating(record)">
              <p class="uk-text-nowrap">
                <input type="text" name="name" placeholder="Rating Name" ng-model="record.rating.name" class="uk-form-small uk-form-width-small">
                <input type="text" name="value" placeholder="Rating" ng-model="record.rating.value" class="uk-form-small uk-form-width-mini">
                <button type="submit" class="uk-button uk-button-small">Rate</button>
              </p>
              <p ng-if="record.noRatings"><em>ratings not loaded</em></p>
              <p>
                <span ng-repeat="rating in record.ratings">
                  <span class="uk-badge clickable-badge" ng-click="deleteRating(record, rating)">{{rating.name}}:{{rating.rating}}{{$last ? '' : ' '}}</span>
                </span>
              </p>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div ng-include="'/pagination.html'" class="fc-pagination-right"></div>
    
  </div>
</body>
</html>

